package $!{package.Controller};

import cn.hutool.core.util.StrUtil;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.qxw.common.core.result.Result;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

import $!{package.Entity}.$!{entity};
import $!{package.Service}.$!{table.serviceName};

import java.util.List;

/**
 * $!{table.comment} 控制器
 *
 * @author $!{author}
 * @since $!{date}
 */
@RestController
@RequestMapping("#if($!{package.ModuleName})/$!{package.ModuleName}#end/$!{cfg.entityKey}")
@Tag(name = "$!{table.comment}", description = "$!{table.comment}接口")
#if($!{superControllerClass})
public class $!{table.controllerName} extends $!{superControllerClass} {
#else
public class $!{table.controllerName} {
#end
    @Autowired
    private  $!{table.serviceName} $!{table.entityPath}Service;


    /**
    * 详情
    */

    @GetMapping("/detail")
    @Operation(summary = "详情", description = "传入$!{table.entityPath}")
    public Result<?> detail($!{entity} $!{table.entityPath}){
    $!{entity} detail= $!{table.entityPath}Service.getOne(new QueryWrapper<>($!{table.entityPath}));
        return Result.data(detail);
    }

    /**
     * 列表 $!{table.comment}
     */

    @GetMapping("/list")
    @Operation(summary = "列表", description = "传入$!{table.entityPath}")
    public Result<?> list($!{entity} $!{table.entityPath}){
        List<$!{entity}> list= $!{table.entityPath}Service.list(new QueryWrapper<>($!{table.entityPath}));
        return Result.data(list);
    }

/**
 * 分页 $!{table.comment}
 */

    @GetMapping("/page/{current}/{size}")
    @Operation(summary = "分页", description = "传入$!{table.entityPath}")
    public Result<?> page(@PathVariable Long current,@PathVariable Long size,@RequestBody $!{entity} $!{table.entityPath} ){
        Page<$!{entity}> page = new Page<>(current, size);
        QueryWrapper<$!{entity}> wrapper = new QueryWrapper<>();
        $!{table.entityPath}Service.page(page, wrapper);
        return Result.data(page);
    }

##	/**
##	* 自定义分页 $!{table.comment}
##	*/
##
##	@GetMapping("/self/page")
##	 @Operation(summary = "分页", description = "传入$!{table.entityPath}")
##	public Result<?> pages($!{entity}VO $!{table.entityPath}, Query query) {
##		IPage<$!{entity}VO> pages = $!{table.entityPath}Service.select$!{entity}Page(Condition.getPage(query), $!{table.entityPath});
##		return Result.data(pages);
##	}

    /**
     * 新增 $!{table.comment}
     */

    @PostMapping
    @Operation(summary = "新增", description = "传入$!{table.entityPath}")
    public Result<?> save( @RequestBody $!{entity} $!{table.entityPath}){
        return Result.status($!{table.entityPath}Service.save($!{table.entityPath}));
    }

    /**
     * 修改 $!{table.comment}
     */
    @PutMapping
    @Operation(summary = "修改", description = "传入$!{table.entityPath}")
    public Result<?> update( @RequestBody $!{entity} $!{table.entityPath}){
        return Result.status($!{table.entityPath}Service.updateById($!{table.entityPath}));
    }

    /**
     * 新增或修改 $!{table.comment}
     */

    @PostMapping("/submit")
    @Operation(summary = "新增或修改", description = "传入$!{table.entityPath}")
    public Result<?> submit(@RequestBody $!{entity} $!{table.entityPath}){
        return Result.status($!{table.entityPath}Service.saveOrUpdate($!{table.entityPath}));
    }

#if($!{superEntityClass})

    /**
     * 删除 $!{table.comment}
     */

    @DeleteMapping
    @Operation(summary = "逻辑删除", description = "传入ids")
    public Result<?> remove( @RequestParam String ids){
        return Result.status($!{table.entityPath}Service.deleteLogic(Func.toIntList(ids)));
    }

#else

    /**
     * 删除 $!{table.comment}
     */
    @DeleteMapping
    @Operation(summary = "删除")
    public Result<?> remove( @RequestParam String ids) {
        return Result.status($!{table.entityPath}Service.removeByIds(StrUtil.splitTrim(ids,StrUtil.C_COMMA)));
    }

#end
}
